@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
body {
    
   
    font-family: Jiro, sans-serif;
    background-color: #ea60c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
   
    color: #333;
}

.search-container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:50%;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#pokemonData {
    margin-top: 20px;
}

#pokemonData img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 600px;
    background-color: hwb(58 29% 0%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

#pokemonData {
    text-align: left;
}
#welcome {
    display: flex;
    justify-content: center;
}